*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration:none;

}
.Navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10vh;
  width: 100%;
}
.Navigation ul{
  display: flex;
}
.Navigation ul li{
  padding: 10px;
}
.Box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right:0;
  bottom: 0;

}
.Content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background: #333;
  height:90vh;
  width: 100%;
  grid-gap: 5px;
}
.Content > div{
  background-size: cover;
  background-attachment:fixed;
}
.Content >div:hover{
  transform: scale(.98);
}
.bg1{
  background:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.hobbyconsolas.com%2Fsites%2Fnavi.axelspringer.es%2Fpublic%2Fstyles%2F1200%2Fpublic%2Fmedia%2Fimage%2F2020%2F03%2Fcyberpunk-2077-1906669.jpg%3Fitok%3DJJbkDslI&f=1&nofb=1");
}
